.app {
  margin: 20px;
  display: grid;
  justify-items: center;
  gap: 20px 0;
}

.app-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.btn-groups-manipulate {
  display: flex;
}

button {
  margin: 0 10px;
}
